/*--------------------
    ASIDE
----------------------*/
aside {
    width: auto;
    height: 100%;
    flex-shrink: 0;
    background-image: url('../img/sidebar-bg.png');
}
aside .ms-list-item {
    padding: 0.5rem;
    transition: background 0.1s;
}
aside .ms-list-item a {
    display: flex;
}
/*--------------------
    ASIDE HOVER
----------------------*/
aside .ms-list-item:hover {
    background: rgba(255, 255, 255, 0.3);
}