/*--------------------
    ASIDE
----------------------*/
aside {
    width: auto;
    height: 100%;
    flex-shrink: 0;
    padding: 1.875rem;
    background-image: url('../img/sidebar-bg.png');
}
.ms-list-reset {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.aside-nav .ms-list-reset a {
    text-decoration: none;
    color: inherit;
}
/*--------------------
    ASIDE HOVER
----------------------*/
/*--------------------
    ASIDE RESPONSIVE
----------------------*/
@media screen and (max-width: 768px) {
    aside .hide-desktop {
        display: none;
    }
}