/*----------------
    BADGE
------------------*/
.ms-badge {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.1s;
}
.ms-badge-list {
    display: flex;
}
.ms-badge-list > * {
    margin-right: 0.5rem;
}
.ms-text-bg-warning {
    color: var(--ms-second-color);
    background-color: #ffc007;
}
/*----------------
    BADGE HOVER
------------------*/
.ms-badge:hover {
    background: rgba(0, 0, 0, 0.4);
}