/*----------------
    BUTTONS
------------------*/
.ms-button-header {
    background-color: transparent;
    border: none;
    color: var(--ms-color-orange);
}
.ms-btn-secondary {
    padding: .25rem .5rem;
}